<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.elon.elena.onegiantleap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".TitleScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CreateNewGame"
            android:label="@string/title_activity_create_new_game" />
        <activity
            android:name=".GameStory1"
            android:label="@string/title_activity_game_story1" />
        <activity
            android:name=".LoadGame"
            android:label="@string/title_activity_load_game"></activity>
    </application>

</manifest>
